// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// 2. Include any default variable overrides here
// Note: I was unable to alter SASS maps as described here:
// https://getbootstrap.com/docs/5.0/customize/sass/#add-to-map and in many
// forum posts. Perhaps React Bootstrap is different?
$primary: #DB316C; // red
$secondary: #4B9BD9; // blue

$dark: #1D1D1D;
$gray-700: #4A4A4A;
$body-bg: #F3F3F3;
$body-color: #4A4A4A;

$link-color: $secondary;
$link-hover-color: $primary;

$h1-font-size: 4rem;
$h2-font-size: 2.75rem;
$font-family-sans-serif: "IBM Plex Sans",Helvetica,Arial,sans-serif;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";


/*
* Extending Bootstrap classes. They're not extreme enough, but we want to keep
* the defaults.
*/
.py-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.fs-7 {
  font-size: .85rem;
}

.lh-xlg {
  line-height: 2.25;
}


/*
* Space and position rules
*/
.container.full-width {
  width:100%;
  max-width:none;
  padding-left:0;
  padding-right:0
}

main {
  margin-top: 6rem;
}

// Default Bootstrap spacers are too small, but want to keep them.
// This class adds the space between the main components of the page.
.big-top-space {
  margin-top: 5rem;
}

.h-center {
  position: relative;
  left: 50%;
}

.w-60 {width: 100%;}
@media (min-width: 1024px) {
  .w-60 {
    width: 45%;
    margin: 0 auto;
  }
}

// To keep a button inline with an input field
.inline-button {
   position: relative;
   left: 5px;
   top: -2px;
}

.bottom-link {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}


/*
* Typography
*/
h1 {
  font-weight: 600;
}

// Heading 2 style in the <main> section. This has an arrow in front of it and
// a slash after it. These element resize on smaller screen and disappear on
// the smallest screen (because they wrap on long headings).
main {
  h2 {
    font-weight: 600;
    margin-bottom: $spacer * 2;
    margin-top: $spacer * 5;
  }
  .bg-dark h2 {
    padding-left: 20px;
  }
}

// Only show the arrow and forward slash from this point.
@media (min-width: 768px) {
  main {
    h2 {
      margin-left: 1rem;
      background: url("./images/by-covid-arrow.svg") no-repeat left 75%;
      background-size: 35px auto;
      padding-left: 45px;
      &:after {
        content: url("./images/by-covid-bar.svg");
        transform: scale(0.8);
        position: relative;
        top: 5px;
        margin: 0 0 0 15px;
        display: inline-block;
      }
    }
    .bg-dark h2 {
      padding-left: 45px;
    }
  }
}

@media (min-width: 992px) {
  main {
    h2 {
      margin-left: 0;
      background-size: 55px auto;
      padding-left: 75px;
      &:after {
        margin: 0 0 0 25px;
      }
    }
    .bg-dark h2 {
      padding-left: 75px;
    }
  }
}


/*
* Component rules
*/

// For the social icons
.social:hover {
  background: $primary;
}

// Submit button
.btn-primary {
    color: $light;
    background-color: $primary;
    border-color: $primary;
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
    }
}

// Main navigation
nav.navbar {
  box-shadow: 0 0 10px rgba(0,0,0,0.50);
  background: $body-bg;
  text-transform: uppercase;
  padding: .75em 0;
  font-size: 0.9rem;
  .row {
    width: 100%;
  }
  .dropdown-menu a {
    text-transform: none;
  }
  .navbar-nav .nav-link, .dropdown-item {
      color: $dark;
  }
  .navbar-nav .nav-link:hover {
    color: $primary;
  }
  .dropdown-item:hover {
    transition: color 0.3s, background-color 0.3s;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    color: $primary;
    background-color: $body-bg;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.2rem;
      padding-left: 1.2rem;
  }
}

// Adds the active colour. The nav container has a class indicating the page
// e.g. 'home' for the home page. This is added from the frontmatter.
.home .home, .about .about a.dropdown-toggle,
.outcomes .outcomes  a.dropdown-toggle {
    color: $primary !important;
}

// Can be removed?
// .navbar-light .navbar-nav .nav-link {
//     color: $dark;
// }

// Main footer
footer {
  background: $dark;
  color: $light;

  a:link, h2 a:link {
    text-decoration: none;
    color: $light;
  }
  a:hover, h2 a:hover {
    color: $light;
    text-decoration: underline;
  }
  a:visited {
    color: $light;
  }
  input {
    padding: 6px 10px;
  }
  li {
    padding-bottom: .70rem;
  }
}

// For the key stats circles
.circle {
  width: 100%;
  border-radius: 50%;
  border: 6px solid $body-color;
  line-height: 0;
  position: relative;
  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  span {
    font-size: $h2-font-size;
    margin-bottom: 2rem; // mb-
  }
  .circle-txt {
    position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .circle {
    span {
      font-size: 2rem;
      margin-bottom: 1.75rem;
    }
    .circle-txt {
      position: absolute;
      bottom: 40%;
    }
  }
}

// Objectives panel
.number {
  position: relative;
  padding-top: 5rem;
  margin-top: 2rem;
  span {
    position: absolute;
    color: $gray-700;
    font-size: 8rem;
    top: -4.5rem;
    left: 30%;
    z-index: 0;
  }
}

// Accordion of Work Packages. Can't seem to pass the right classes in via
// React-Bootstrap
.accordion {
  .accordion-button {
    background: $body-color;
    color: $light;
    line-height: 1.5;
    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 0.25rem lighten($secondary, 20%);
    }
    &:after {
      background-image: url(./images/plus.svg);
      background-size: 25px;
      background-position: 0 50%;
    }
    &:not(.collapsed)::after {
      background-image: url(./images/minus.svg);
    }
  }
  .text-end {
    color: $primary;
    margin: -1.25rem 0 1rem;
    &:before {
      content: url("./images/by-covid-arrow.svg");
      transform: scale(0.25);
      position: relative;
      top: 1.1rem;
      left: 1rem;
      margin: 0;
      display: inline-block;
    }
  }
}

.anchor{
  display: block;
  height: 80px; /*same height as header*/
  margin-top: -80px; /*same height as header*/
  visibility: hidden;
}

// Progress bar
.bar-progress {
  position: relative;
  // Compensate for absolutely positioned labels.
  margin-bottom: 9rem;
  .progress {
    background-color: $white;
    .progress-bar {
      background-color: $primary;
    }
  }
  .progress-start, .progress-end {
    position: absolute;
    font-size: 0.8rem;
    width: 60px;
    line-height: 1.4;
    top: 20px;
  }
  .progress-end {
    right: 0;
    text-align: right;
  }
}
